<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Votación</title>
</head>
<body>
    <h1>Bienvenido al Sistema de Votación</h1>
    <form action="/topics" method="POST">
        <input type="text" name="Topic" placeholder="Name of the topic" required>
        <button type="submit">Name of the topic</button>
    </form>
    <a href="/topics">Ver Topics</a>
</body>
</html>

<!-- 
<form action="/votar/<%= tema.id %>" method="POST">
    <button type="submit">Votar</button>
  </form> -->